@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1E232F;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1E232F;
}

::-webkit-scrollbar-thumb {
  background: #33394b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1EBDB8;
}
